<!-- Search -->
<poke-search (emitSearch)="getSearch($event)"></poke-search>     

<section class="listagem">
    <ng-template ngFor let-pokemon [ngForOf]="getAllPokemons">   
        <a 
            [routerLink]="['details', pokemon.status.id]"
            [ngClass]="'pokemon ' +pokemon.status.types[0].type.name" 
            *ngIf="pokemon.status"
        >
            <section class="pokemon__status">
                <h2>
                    {{pokemon.name}}
                </h2>
            
                <ul>
                    <li *ngFor="let value of pokemon?.status?.types">   
                        {{ value.type.name }}                           
                    </li>                                               
                </ul>
            </section>
    
            <section class="pokemon__image">
                <img 
                    [src]="pokemon.status.sprites.other.home.front_default" 
                    [alt]="pokemon.name"
                >
            </section>
        </a>
    </ng-template>

    <img *ngIf="apiError" src="assets/erro.png" alt="Erro na pokedex" width="100%">
</section>



