@import './config-scss/variables.scss';    // importamos os script scss que crimaos
@import './config-scss/reset.scss';
@import './config-scss/rem-calc.scss';
@import './config-scss/btn.scss';
@import './config-scss/animation.scss';

html {
    font-family: 'roboto', sans-serif;
    background: var(--primary-color);   // usamos a variavel para defenir a cor
}

main {
    width: rem-calc(600);   // converte 600px para rem
    margin: 0 auto;
    box-sizing: border-box;
}